body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center; /* Wyśrodkowanie elementów w poziomie */
    align-items: center; /* Wyśrodkowanie elementów w pionie */
    height: 100vh; /* Wysokość strony na pełen ekran */
    margin: 0;
    flex-direction: column;
    font-family: ubuntu;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    color: white;
}

form {
    display: flex;
    flex-direction:row;
    align-items: center;
}

button, input[type="file"] {
    display: block;
    background: rgb(16,16,16);
    background: linear-gradient(50deg, rgba(16,16,16,1) 0%, rgba(72,72,75,1) 70%);
    border: none;
    border-radius: 40px; /* Zaokrąglone rogi */
    padding: 200px 130px; /* Odstępy wewnętrzne */
    margin: 10px;
    cursor: pointer;
    color: white; /* Kolor tekstu */
    text-align: center;
    font-size: 16px; /* Rozmiar czcionki */
}

button:hover, input[type="file"]:hover {
    background-color: #0056b3; /* Ciemniejszy niebieski przy najechaniu myszą */
}

.choose-file-label {
    background: linear-gradient(50deg, rgba(16,16,16,1) 0%, rgba(72,72,75,1) 70%);
    border-radius: 40px;/* Zaokrąglone rogi */
    padding: 200px 130px; /* Odstępy wewnętrzne */
    color: white; /* Kolor tekstu */
    cursor: pointer;
    font-size: 16px; /* Rozmiar czcionki */
    margin: 10px;
    text-align: center; /* Wyrównanie tekstu */
}

input[type="file"] {
    position: absolute; /* Ukryj poza ekranem */
    z-index: -1; /* Z-index poniżej innych elementów */
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
}